{% load static %}

<div class="feedpost">
    <div>
        <img
            src="{{ MEDIA_URL }}{{ post.user.profile_picture }}"
            alt="user"
            class="feedpfp"
        />
        {{post.user.user.username}}
    </div>
    <div>
        <img 
            src="{{ MEDIA_URL }}{{ post.image }}"
            alt="user"
            class="feedimage"
        />
        <div class="feedsectioncontent">
            <h3>{{ post.title }}</h3>
            <br>
            <p>{{ post.text }}</p>
        </div>
        <a href="{% url 'CityStars_app:post' post.id %}">
            <button onclick="" class="feedviewpagebutton">View Full Post</button>
        </a>
        {% for i in "x"|rjust:" 5 " %}
            {%if forloop.counter <= post.rating %}
                <img src="{% static 'images/star.png' %}" class="feedreviewstarsimage">
            {%else %}
                <img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage">
            {%endif %}
        {% endfor %}
        <div class="feedlikes">
            <p>{{post.likes}} <button onclick="" class="feedlikesbutton"><img src="{% static 'images/emptyheart.png' %}" alt="likes" class="feedlikesimage"></button></p>
        </div>
    </div>
</div>