@import "../bootstrap/css/bootstrap.min.css";

:root {
  --BACKGROUND: #918c91;
  --PRIMARY: #44837f;
  --SECONDARY: #2a4b49;
  --ACCENT: #3a6b68;
}

/* Entire background of the website other than the navigation bar
is a grey colour. */
html {
  height: 100%;
  background: var(--BACKGROUND);
  color: white;
  /* border-style: solid;
  border-color: black; */
}

body {
  background-color: var(--BACKGROUND);
}

/* Main content. */
.content {
  background-color: var(--PRIMARY);
}
/* Background colour of the main page. */
.body_content {
  background: var(--BACKGROUND);
}

/* Mostly used for interactive elements. */
.interaction {
  background-color: var(--SECONDARY);
  padding: 10px;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  text-align: center;
  border-style: solid;
  border-color: black;
}

.btn-primary {
  background-color: var(--SECONDARY);
  border-color: var(--ACCENT);
}

.btn-primary:hover {
  background-color: var(--ACCENT);
  border-color: var(--ACCENT);
}

/* Buttons as part of the navigation bar. */
.navbutton {
  background-color: var(--SECONDARY);
  width: 15%;
  margin-left: 5%;
  margin-top: 2px;
  height: 75px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  transition-duration: 0.4s;
  color: white;
}

/* Changes state (colour) when user points at the button. */
.navbutton:hover {
  background-color: var(--ACCENT);
  color: white;
}

/* User profile picture is aligned to the right. */
.navpfp {
  background-color: var(--SECONDARY);
  border: none;
  float: right;
  width: 75px;
  height: 75px;
  margin-right: 3%;
}

/* User profile picture. */
.userpfp {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.searchBar {
  color: white;
  text-align: center;
  background-color: var(--SECONDARY);
  border-style: solid;
  border-color: var(--ACCENT);
  width: 25%;
  margin-top: 15px;
  margin-right: 11px;
  transition-duration: 0.4s;
}
