@import "base.css";

.currentfeednav {
  background: var(--BACKGROUND);
}

.currentfeedheader {
  background-color: var(--PRIMARY);
  float: left;
  border-style: solid;
  border-color: var(--ACCENT);
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 0.5%;
  color: white;
  text-align: center;
}

.feednavbutton {
  background-color: var(--SECONDARY);
  margin-left: 5%;
  width: 12%;
  border: none;
  border-style: solid;
  border-color: var(--ACCENT);
  color: white;
  font-size: 20px;
  transition-duration: 0.4s;
}

.feednavbutton:hover {
  background-color: var(--ACCENT);
  color: black;
}

.fullfeed {
  background-color: var(--PRIMARY);
  width: 96%;
  height: 550px;
  border-style: solid;
  border-color: var(--ACCENT);
  border-radius: 80px;
  margin-left: 15px;
  padding-left: 35px;
  font-size: 20px;
  color: white;
  float: left;
}

.feedrating {
  background-color: var(--PRIMARY);
  border: none;
}

.feedcurrentlikes {
  background-color: var(--PRIMARY);
  border: none;
}

.buttons {
  padding: 20px;
  text-align: center;
}

.feedpageimagediv {
  margin-top: auto;
  margin-bottom: auto;
}

.feedpageimage {
  float: left;
  max-width: 99%;
  max-height: 500px;
  object-fit: contain;
}

.post-info {
  position: relative;
  float: right;
  margin-top: 5%;
  text-align: center;
}

.user-posted-info {
  line-height: 0.5;
  margin-top: 20px;
}

.post-text {
  position: relative;
  float: left;
  margin-top: 5%;
  text-align: center;
  word-wrap: break-word;
}
