@import "base.css";

html,
body {
  height: 100%;
}

.bg-backing {
  background: var(--BACKGROUND);
}

.bg-darkgreen {
  background: var(--SECONDARY);
}

.bg-darkgreen:hover {
  background: var(--ACCENT);
}

.bg-lightgreen {
  background: var(--PRIMARY);
}

.bg-bordergreen {
  background: var(--ACCENT);
}

.rounded {
  border-radius: 0.99rem !important;
}

.cityImage {
  max-height: 300px;
}

.profileImage {
  max-height: 50px;
}

.postImage {
  max-height: 200px;
}


.tile{
    background: transparent;
    border: none !important;
    height: 100%;
    width: 100%;
}