@import "base.css";

.card-title {
  color: white;
}

.card-text {
  color: white;
}

.cc-content-col {
  display: flex;
  flex-direction: column;
}

.cc-content-row {
  flex-grow: 1;
}

.cc-btn-div {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.cc-img {
  padding: 5px;
}
.round {
  border-radius: 40px;
}

.cc-card {
  background: var(--BACKGROUND);
  border-style: hidden;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.cc-row {
  background-color: var(--PRIMARY);
  border-style: solid;
  border-color: var(--ACCENT);
  border-radius: 40px;
}

.list-group-horizontal {
  list-style-type: none;
}

.cc-stars {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.cc-btn {
  width: 90%;
}
