@import "base.css";

.center {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* All posts related to cities. */
.feedpost {
  background-color: var(--PRIMARY);
  height: auto;
  border-style: solid;
  border-color: var(--ACCENT);
  border-radius: 40px;
  margin-top: 8px;
  padding: 20px;
  font-size: 20px;
  color: white;
}

/* The user's profile picture from the post. */
.feedpfp {
  max-height: 50px;
  margin-right: 20px;
}

.feedpfprow {
  padding-bottom: 10px;
}

.username {
  padding-top: 8%;
}

.feedposttext {
  word-wrap: break-word;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* The user's image for the post. */
.feedimagediv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedimage {
  border-style: dashed;
  border-color: var(--ACCENT);
  border-radius: 15px;
  max-width: 350px;
  max-height: 240px;
  height: 100%;
  width: 100%;
  display: block;
}

/* What the user have said about the city. */
.feedsectioncontent {
  width: 60%;
  height: 130px;
  margin-left: 18%;
}

.feedreviewstarsimage {
  width: 30px;
  height: 30px;
}

/* This alone might need to be scrapped if not needed. */
.feedreviewstarsbutton {
  background-color: var(--PRIMARY);
  border: none;
  position: relative;
  float: left;
}

/* Users can like posts. */
.feedlikesbutton {
  background-color: var(--PRIMARY);
  border: none;
}

/* Users can view the full post via the 'View Full Post' button. */
.feedviewpagebutton {
  background-color: var(--SECONDARY);
  width: 15%;
  height: 45px;
  border-style: solid;
  border-color: var(--ACCENT);
  left: 57%;
  transition-duration: 0.4s;
}

.feedviewpagebutton:hover {
  background-color: white;
  color: white;
}

/* Users can switch between viewing friend or city feed. */
.feedbutton {
  background-color: var(--PRIMARY);
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  width: 180px;
  height: 60px;
  transition-duration: 0.4s;
  font-weight: bold;
}

.feedbutton:hover {
  background-color: var(--ACCENT);
  color: white;
}

.feedselect {
  background-color: var(--PRIMARY);
  /* color: white; */
  border: none;
  margin-top: 10px;
  width: 180px;
  height: 60px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  font-weight: bold;
}

/* Background of the currently chosen feed (friend or city). */
.feedinteraction {
  background-color: var(--SECONDARY);
  position: relative;
  height: 80px;
  border-style: solid;
  border-color: black;
  border-top: none;
  text-align: center;
}

/* Dropdowns to filter out content. */
.feeddropdown {
  background: var(--BACKGROUND);
  color: white;
  height: 45px;
  text-align: center;
}

.feeddropdownselect {
  background-color: white;
  color: black;
}

.feeddropdownbutton {
  background-color: var(--SECONDARY);
  border-style: solid;
  border-color: var(--ACCENT);
  color: white;
  width: 25%;
  margin-top: 15px;
  margin-right: 11px;
  transition-duration: 0.4s;
}

.feeddropdownbutton:hover {
  background-color: var(--ACCENT);
  color: black;
}
