@import "base.css";

/* Register and Login page forms */
.registerloginform {
  position: relative;
  width: 30%;
  margin-left: 35%;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  background-color: var(--PRIMARY);
}

/* Error Message */
.error_message {
  font-size: 14px;
  margin-top: 10px;
}
