<!DOCTYPE html>
{% load staticfiles %}

<!-- This will be used as the base template for all website content. -->

<html>
    <head lang="en">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="base.css"/>
        <title>
            CityStars - 
            {% block title_block %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="interaction">
            <button class="navbutton" onclick=""><b>Home</b></button>
            <button class="navbutton" onclick=""><b>Feed</b></button>
            <button class="navbutton" onclick=""><b>Friends</b></button>
            <button class="navbutton" onclick=""><b>My Posts</b></button>
            <button class="navpfp" onclick=""><img src="{% static 'images/guest_pfp.jpg' %}" alt="user" style="float:right" class="userpfp"></button>
        </div>
        {% block body_block %}
        {% endblock %}
    </body>
</html>