<!DOCTYPE html>
{% load static %}

<!-- This will be used as the base template for all website content. -->

<html>

  <head lang="en">
    <meta charset="UTF-8" />
    {% block css_block %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <title>CityStars - {% block title_block %} CityStars {% endblock %}</title>
  </head>

  <body>
    <div class="interaction">
      <button class="btn btn-primary navbutton" onclick="window.location.href='{% url 'CityStars_app:city_stars' %}';">
        Home
      </button>
      <button class="btn btn-primary navbutton" onclick="window.location.href='{% url 'CityStars_app:city_feed' %}';">
        Feed
      </button>
      <button class="btn btn-primary navbutton" onclick="window.location.href='{% url 'CityStars_app:friends' user %}';">
        Friends
      </button>
      <button class="btn btn-primary navbutton" onclick="window.location.href='{% url 'CityStars_app:posts' user %}';">
        My Posts
      </button>

      {% if user.is_authenticated %}

      <button class="navpfp dropdown-toggle" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <img src="{{ user.profile.profile_picture.url }}" alt="user" class="userpfp" />
      </button>
      {% else %}
      <button class="navpfp dropdown-toggle" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <img src="{% static 'images/default_profile_pic.jpg' %}" alt="user" class="userpfp" />
      </button>
      {% endif %}
      <div class="dropdown-menu" aria-labelledby="triggerId">
        {% if user.is_authenticated %}
        <button class="dropdown-item" onclick="window.location.href='{% url 'CityStars_app:profile' user %}';">
          My Profile
        </button>
        <button class="dropdown-item" onclick="window.location.href='{% url 'CityStars_app:logout' %}';">
          Log Out
        </button>
        {% else %}
        <button class="dropdown-item" onclick="window.location.href='{% url 'CityStars_app:login' %}';">
          Log In
        </button>
        <button class="dropdown-item" onclick="window.location.href='{% url 'CityStars_app:register' %}';">
          Sign Up
        </button>
        {% endif %}
      </div>

    </div>
    {% block body_block %} {% endblock %}
  </body>

</html>