{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/city_feed.css' %}" />
{% endblock %}

{% block title_block %}
    City Feed
{% endblock %}

{% block body_block %}
    <div class="body_content">
        <div class="feedinteraction">
            <button class="feedbutton"
                onclick="window.location.href='{% url 'CityStars_app:friend_feed' %}';">
                Friends
            </button>
            <button class="feedselect"
                onclick="window.location.href='{% url 'CityStars_app:city_feed' %}';">
                City
            </button>
        </div>

        <div class="feeddropdown">
            <button onclick="" class="feeddropdownbutton">Search Bar</button>
            <button onclick="" class="feeddropdownbutton">Scotland (Dropdown Filter)</button>
            <button onclick="" class="feeddropdownbutton">Glasgow (Dropdown Filter)</button>
        </div>

        {%if posts%}
            {% for post in posts%}
                <div class="feedpost">
                    <div>
                        <img
                            src="{{ MEDIA_URL }}{{ post.user.profile_picture }}"
                            alt="user"
                            class="feedpfp"
                        />
                        {{post.user.user.username}}
                    </div>
                    <div>
                        <img 
                            src="{{ MEDIA_URL }}{{ post.image }}"
                            alt="user"
                            class="feedimage"
                        />
                        <div class="feedsectioncontent">
                            <h3>{{ post.title }}</h3>
                            <br>
                            <p>{{ post.text }}</p>
                        </div>
                        <a href="{% url 'CityStars_app:post' post.user.user post.id %}">
                            <button onclick="" class="feedviewpagebutton">View Full Post</button>
                        </a>
                        {% for i in "x"|rjust:" 5 " %}
                            {%if forloop.counter <= post.rating %}
                                <img src="{% static 'images/star.png' %}" class="feedreviewstarsimage">
                            {%else %}
                                <img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage">
                            {%endif %}
                        {% endfor %}
                        <div class="feedlikes">
                            <p>{{post.likes}} <button onclick="" class="feedlikesbutton"><img src="{% static 'images/emptyheart.png' %}" alt="likes" class="feedlikesimage"></button></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {%else %}
        <strong>There are no posts yet! - Be the First!</strong>
        {%endif %}
      
        {% comment %} </div> {% endcomment %}
    </div>
{% endblock %}