{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/city_feed.css' %}" />
{% endblock %}

{% block title_block %}
    City Feed
{% endblock %}

{% block body_block %}
    <div class="body_content">
        <div class="feedinteraction">
            <button class="feedbutton"
                onclick="window.location.href='{% url 'CityStars_app:friend_feed' %}';">
                Friends
            </button>
            <button class="feedselect"
                onclick="window.location.href='{% url 'CityStars_app:city_feed' %}';">
                City
            </button>
        </div>

        <div class="feeddropdown">
            <button onclick="" class="feeddropdownbutton">Search Bar</button>
            <button onclick="" class="feeddropdownbutton">Scotland (Dropdown Filter)</button>
            <button onclick="" class="feeddropdownbutton">Glasgow (Dropdown Filter)</button>
        </div>

        {%if posts%}
            {% for post in posts%}
                {% include "CityStars_app\includes\feed_element.html" %}  
            {% endfor %}
        {%else %}
        <strong>There are no posts yet! - Be the First!</strong>
        {%endif %}
      
        {% comment %} </div> {% endcomment %}
    </div>
{% endblock %}