{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block title_block %}
City
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/city.css' %}" />

{% endblock %}

{% block body_block %}


<div class="fluid-container bg-backing text-white h-100">
    <div class="container px-3 pb-3">
        {% if city %}

        <div class="row">
            <div class="col-lg-6">
                <div class="container rounded p-1 my-1 bg-bordergreen text-white">
                    <div class="container rounded p-4  bg-lightgreen text-white">

                        <img src="{{ city.image.url }}" class="img-fluid mx-auto d-block rounded cityImage"
                            alt="Image of City" />

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container rounded p-1 my-1 bg-bordergreen text-white">
                    <div class="container rounded p-5  bg-lightgreen text-white">

                        <h3>{{ city.name }} - {{ city.country }}</h3>
                        <h5>{{ city.desc }}</h5>

                    </div>
                </div>


                <button type="button" class="btn bg-darkgreen text-white btn-lg"
                    onclick="window.location.href='{% url 'CityStars_app:city_feed' %}?city={{city.name|urlencode}}&country={{city.country|urlencode}}';">View
                    {{ city.name }}
                    Feed</button>
                {% if user.is_authenticated %}
                <button type="button" class="btn bg-darkgreen text-white btn-lg float-right"
                    onclick="window.location.href='{% url 'CityStars_app:add_post' %}?city={{city.name|urlencode}}_{{city.id|urlencode}}';">Make
                    Post</button>
                {% endif %}
            </div>
        </div>




        <div class="row">
            <div class="col-lg-3">
                <div class="container rounded p-1 mt-5 mw-25 bg-bordergreen text-white">
                    <div class="container rounded p-1 bg-lightgreen text-white">
                        <h4 class="text-center">Popular Posts</h4>
                    </div>
                </div>
            </div>
        </div>



        {%if top_posts%}
        <div class="row">


            {% for post in top_posts%}
            {% include "CityStars_app/includes/post_tile.html" %}
            {% endfor %}

        </div>
        {%else %}
        <strong>There are no posts yet! - Be the First!</strong>
        {%endif %}



        {% else %}
        <strong>This city is not on our system.</strong>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static "js/like.js" %}"></script>
{% endblock %}