{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/friend_feed.css' %}" />
{% endblock %}

{% block title_block %}
    Friend Feed
{% endblock %}

{% block body_block %}
    <div class="background">
        <div class="feedinteraction">
            <button class="feedselect"
                onclick="window.location.href='{% url 'CityStars_app:friend_feed' %}';">
                Friends
            </button>
            <button class="feedbutton"
                onclick="window.location.href='{% url 'CityStars_app:city_feed' %}';">
                City
            </button>
        </div>
        {% if user.is_authenticated %}
            <div class="body_content">
                {% comment %} <div class="feedscroll"
                style="height: 549px;
                overflow-y:scroll;
                margin-right:40px;
                border-left: none;
                border-right: none;"> {% endcomment %}
                    <div class="feedpost">
                        <div>
                            <img
                                src="{% static 'images/guest_pfp.jpg' %}"
                                alt="user"
                                class="feedpfp"
                            />
                            Joe
                        </div>
                        <div>
                            <img 
                                src="{% static 'images/guest_pfp.jpg' %}"
                                alt="user"
                                class="feedimage"
                            />
                            <div class="feedsectioncontent">
                                <h3>Winter Festival</h3>
                                <br>
                                <p>Loved this trip, always enjoy a good festival. There was a
                                    moment where I met an old friend of mine and we...
                                </p>
                            </div>
                            <div class="feedreviewstars">
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                            </div>
                            <a href="{% url 'CityStars_app:city_stars' %}">
                                <button onclick="" class="feedviewpagebutton">View Full Post</button>
                            </a>
                            <div class="feedlikes">
                                <p>83 <button onclick="" class="feedlikesbutton"><img src="{% static 'images/emptyheart.png' %}" alt="likes" class="feedlikesimage"></button></p>
                            </div>
                        </div>
                    </div>
                    <div class="feedpost">
                        <div>
                            <img
                                src="{% static 'images/guest_pfp.jpg' %}"
                                alt="user"
                                class="feedpfp"
                            />
                            Jeff
                        </div>
                        <div>
                            <img
                                src="{% static 'images/guest_pfp.jpg' %}"
                                alt="user"
                                class="feedimage"
                            />
                            <div class="feedsectioncontent">
                                <h3>Lunch with Joe</h3>
                                <br>
                                <p>Man I hate Joe...</p>
                            </div>
                            <div class="feedreviewstars">
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                                <button onclick="" class="feedreviewstarsbutton"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                            </div>
                            <a href="{% url 'CityStars_app:city_stars' %}">
                                <button onclick="" class="feedviewpagebutton">View Full Post</button>
                            </a>
                            <div class="feedlikes">
                                <p>68 <button onclick="" class="feedlikesbutton"><img src="{% static 'images/emptyheart.png' %}" alt="likes" class="feedlikesimage"></button></p>
                            </div>
                        </div>
                    </div>
                    <div class="feedpost">
                        test
                    </div>
                {% comment %} </div> {% endcomment %}
            </div>
        {% else %}
            <div class="friendfeedauthenticate">
                Log in to see your friends' posts.<br>
                <a href="{% url 'CityStars_app:login' %}"
                ><button onclick="" class="friendfeedauthenticatebutton">Log In</button></a>
                <br><br><br>
                Don't have an account?<br>
                <a href="{% url 'CityStars_app:register' %}"
                ><button onclick="" class="friendfeedauthenticatebutton">Sign Up</button></a>
            </div>
        {% endif %}
    </div>
{% endblock %}