{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/friend_feed.css' %}" />
{% endblock %}

{% block title_block %}
    Friend Feed
{% endblock %}

{% block body_block %}
    <div class="background">
        <div class="feedinteraction">
            <button class="feedselect"
                onclick="window.location.href='{% url 'CityStars_app:friend_feed' %}';">
                Friends
            </button>
            <button class="feedbutton"
                onclick="window.location.href='{% url 'CityStars_app:city_feed' %}';">
                City
            </button>
        </div>
        {% if user.is_authenticated %}
            {%if posts%}
                {% for post in posts%}
                    {% include "CityStars_app\includes\feed_element.html" %}  
                {% endfor %}
            {%else %}
            <strong>There are no posts here yet! - Get you friends to post or make some friends!</strong>
            {%endif %}
                   
        {% else %}
            <div class="friendfeedauthenticate">
                Log in to see your friends' posts.<br>
                <a href="{% url 'CityStars_app:login' %}"
                ><button onclick="" class="friendfeedauthenticatebutton">Log In</button></a>
                <br><br><br>
                Don't have an account?<br>
                <a href="{% url 'CityStars_app:register' %}"
                ><button onclick="" class="friendfeedauthenticatebutton">Sign Up</button></a>
            </div>
        {% endif %}
    </div>
{% endblock %}