{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block title_block %}
    Friends
{% endblock %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/freinds.css' %}" />
{% endblock %}

{% block body_block %}
<div class="fluid-container bg-backing text-white h-100">
    <div class="container px-5 py-2 pb-5">


        <button type="button" class="btn bg-darkgreen text-white btn-lg float-right">SEARCH BAR (TBC)</button>
        <div class="container px-5 py-2 pb-5"></div>

        {%if friends%}

        {% for friend in friends%}
        <div class="container rounded p-1 my-1 bg-bordergreen text-white">
            <div class="container rounded p-1  bg-lightgreen text-white">
                <div class="row text-center">
                    <div class="col-lg-1">
                        <img src="{{ MEDIA_URL }}profile_images/test.png" class="rounded-circle float-left profileImage" alt="Image of City"/>
                    </div>
                    <div class="col-lg-3">
                        <h4>{{ friend.user.username }}
                            {%if friend.is_verified%}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                </svg>
                            {%endif %}
                        </h4>
                    </div>
                    <div class="col-lg-3">
                        <h4>No. of posts: {{ friend.numberOfPosts}}</h4>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn bg-darkgreen text-white btn-lg float-right" onclick="window.location.href='{% url 'CityStars_app:profile' friend.user.username %}';">See Profile</button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn bg-darkgreen text-white btn-lg float-right" onclick="window.location.href='{% url 'CityStars_app:chat' profile_username friend.user.username%}';">Chat</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {%else %}
        <strong>You have no friends - make some!</strong>
        {%endif %}




    </div>
</div>
{% endblock %}