{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/registerlogin.css' %}" />
{% endblock %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div class = "registerloginform">
    <form id="login_form" method="post" action="{% url 'CityStars_app:login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="Log In" />
    </form>
    Don't have an account?
    <br />
    <a href="{% url 'CityStars_app:register' %}">Sign up</a>
    {% if error_message %}
        <div class="error-message">
            {{ error_message }}
        </div>
    {% endif %}
    </div>
{% endblock %}