{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/city_post.css' %}" />
{% endblock %}

{% block title_block %}
    Post
{% endblock %}

{% block body_block %}
    <div class="currentfeednav">
        <div class="currentfeedheader">
            {% if form.title.value %}
            <h1>{{ form.title.value }}</h1>
            {% else %}
            <h1>Untitled</h1>
            {% endif %}
        </div>
        <div style="padding:20px; text-align: center;">
            <button onclick="" class="feednavbutton">Delete Post</button>
            <button onclick="" class="feednavbutton">View {{ city.name }}</button>
            <button onclick="" class="feednavbutton">{{ profile.user.username }}'s Profile</button>
        </div>
    </div>
    <div class="fullfeed">
        <div>
            <img src="{% static 'images/guest_pfp.jpg' %}"
            alt="image" style="margin-top:20px; float:left" class="feedpageimage"></img>
        </div>
        <div style="position:relative; float:right; margin-right:30px; margin-top:20px">
            <div>
                <button onclick="" class="feedrating"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                <button onclick="" class="feedrating"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                <button onclick="" class="feedrating"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                <button onclick="" class="feedrating"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
                <button onclick="" class="feedrating"><img src="{% static 'images/emptystar.png' %}" class="feedreviewstarsimage"></button>
            </div>
            <div style="line-height: 0.5; margin-top:20px">
                <p>Posted by: {{ profile.user.username }}</p>
                <p>City: {{ city.name }}</p>
                <p>Date: {{ post.posted_date }}</p>
            </div>
            <div>
                <p><button onclick="" class="feedcurrentlikes"><img src="{% static 'images/emptyheart.png' %}" alt="likes" class="feedlikesimage"></button> 83</p>
            </div>
        </div>
        <div style="position:relative; float:left; text-align:center">
            {% if form.text.value %}
            <p>{{ form.text.value }}</p>
            {% else %}
            <p>The user has not commented on this post.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}