{% extends 'CityStars_app/base.html' %}
{% load static %}


{% block css_block %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}" />

{% endblock %}


{% block title_block %}
    Posts
{% endblock %}

{% block body_block %}

<div class="fluid-container bg-backing text-white h-100">
    <div class="container px-2 pb-2 py-2">
        <div class="row">
        {% if user.profile == profile%}
            <div class="col-lg-4">
                <div class="container-sm rounded p-1 my-1">
                    <button type="button" class="btn bg-darkgreen text-white btn-lg"
                                onclick="window.location.href='{% url 'CityStars_app:add_post' %}';">
                                Add Post
                    </button>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-lg-3">
                    <div class="container-sm rounded p-1 my-1 bg-bordergreen text-white">
                        <div class="container rounded p-1  bg-lightgreen text-white float-left text-center">
                            <h5>{{ profile.user.username}}'s posts</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {%if user_posts%}
        <div class="row">

        {% for post in user_posts%}
                {% include "CityStars_app/includes/post_tile.html" %}
        {% endfor %}
        </div>
        {% else %}
        {% if user.profile == profile%}
            <strong>No Posts Yet. Make One!</strong>
        {% else %}
            <strong>{{ profile.user.username }} has no posts yet.</strong>
        {% endif %}
        {% endif %}

    </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static "js/like.js" %}"></script>

{% endblock %}