{% extends 'CityStars_app/base.html' %}
{% load static %}
{% load custom_filters %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/city_post.css' %}" />
{% endblock %}

{% block title_block %}
Post
{% endblock %}

{% block body_block %}
<div class="currentfeednav">
    <div class="currentfeedheader">
        <h1>{{ city_post_title }}</h1>
    </div>
    <div class="buttons">
        <button onclick="" class="feednavbutton">Delete Post</button>
        <button onclick="window.location.href='{% url 'CityStars_app:city_feed' %}';" class="feednavbutton">View
            {{ city_name }}</button>
        <button onclick="window.location.href='{% url 'CityStars_app:profile' user_slug %}';"
            class="feednavbutton">{{ city_post_user }}'s Profile</button>
    </div>
</div>
<div class="fullfeed">
    <div>
        <img src="{{ city_post_image.url }}" alt="image" class="feedpageimage"></img>
    </div>
    <div class="post-info">
        <div>
            {% for i in 1|to:post_rating %}
            <img src="{% static 'images/star.png' %}" alt="star" width="60" height="60" />
            {% endfor %}
            {% for i in post_rating|to:4 %}
            <img src="{% static 'images/emptystar.png' %}" alt="nostar" width="60" height="60" />
            {% endfor %}
        </div>
        <div class="user-posted-info">
            <p>Posted by: {{ city_post_user }}</p>
            <p>City: {{ city_name }}</p>
            <p>Date: {{ city_post_date }}</p>
        </div>
        <div>
            <p><button onclick="" class="feedcurrentlikes"><img src="{% static 'images/emptyheart.png' %}" alt="likes"
                        width="80" height="80" class="feedlikesimage"></button> {{ post_likes }}</p>
        </div>
    </div>
    <div class="post-text">
        <p>{{ city_post_text }}</p>
    </div>
</div>
{% endblock %}