{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
    <div class="body_content">


        <div class="profile-container">
            <div class="profile-name">
                <h1>{{ profile.user.username }}</h1>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col text-center g-5">
                    <div class="profile-image">    
                        <img
                            src={{profile.profile_picture.url}}
                            class="img-fluid rounded-top    "
                            alt="Profile Picture"
                        />
                    </div>
                </div>
                <div class="col text-center g-5">
                    <div class="profile-bio">
                        <figure class="text-start">
                            <blockquote class="blockquote">
                                <p>{{ profile.bio }}</p>
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if user == profile.user %}
                    <div class="col text-center g-5">
                        <form class="profile-form" id="profile_form" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <button
                                type="button"
                                class="btn btn-primary profile-btn"
                            >
                                Change Profile Image - 
                                <input type="file" accept="image/*" class="form-control" name="profile_picture" id="profile_picture" placeholder=""
                                       aria-describedby="fileHelpId" />
                            </button>
                            <button
                                type="button"
                                class="btn btn-primary profile-btn"
                            >
                                Edit Biography -
                                <textarea class="form-control" name="bio" id="bio" rows="3" cols="88"
                                          maxlength="1000">{{ profile.bio }}</textarea>
                            </button>

                            <button type="submit" class="btn btn-primary">
                                Apply changes
                            </button>
                        </form type="submit" name="submit" value="Update Profile">
                    </div>
                {% else %}

                    {% if friend %}
                    <div class="col text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                            onclick="window.location.href='{% url 'CityStars_app:chat' profile.slug profile.slug %}';"
                        >
                            Chat
                        </button>
                    </div>
                    {% else %}
                    <div class="col text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                        >
                            Send Friend Request
                        </button>
                    </div>
                    {% endif %}
                    <div class ="col text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                            onclick="window.location.href='{% url 'CityStars_app:posts' profile.slug %}';"
                        >
                            View Posts
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}