{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
    <div class="body_content">


        <div class="profile-container">
            <div class="profile-name">
                <h1>{{ profile.user.username }}</h1>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col text-center g-5">
                    <div class="profile-image">    
                        <img
                            src={{profile.profile_picture.url}}
                            class="img-fluid rounded-top    "
                            alt="Profile Picture"
                        />
                    </div>
                </div>
                <div class="col text-center g-5">
                    <div class="profile-bio">
                        <figure class="text-start">
                            <blockquote class="blockquote">
                                <p>{{ profile.bio }}</p>
                            </blockquote>
                        </figure>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if user == profile.user %}

                    <div class="col text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                        >
                            Change Profile Image
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                        >
                            Edit Biography
                        </button>
                    </div>

                    <div class="col text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                        >
                            My Posts
                        </button>
                    </div>

                {% else %}

                    {% if friend %}
                    <div class="col text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                            onclick="window.location.href='{% url 'CityStars_app:chat' profile.slug profile.slug %}';"
                        >
                            Chat
                        </button>
                    </div>

                    {% elif pending %}
                    <div class="col text-center g-5 profile-container">  
                        <div class="profile-pending">                      
                            <p>Request Pending</p>
                        </div>
                    </div>

                    {% elif requested %}
                    <div class="col-md-3 text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                            onclick="window.location.href='{% url 'CityStars_app:accept_friend_request' profile.slug %}';"
                        >
                            Accept Friend Request
                        </button>
                    </div>

                    <div class="col-md-3 text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                            onclick="window.location.href='{% url 'CityStars_app:reject_friend_request' profile.slug %}';"
                        >
                            Reject Friend Request
                        </button>
                    </div>

                    {% else %}
                    <div class="col text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                            onclick="window.location.href='{% url 'CityStars_app:send_friend_request' profile.slug %}';"
                        >
                            Send Friend Request
                        </button>
                    </div>

                    {% endif %}
                    <div class ="col text-center g-5">
                        <button
                            type="button"
                            class="btn btn-primary profile-btn"
                            onclick="window.location.href='{% url 'CityStars_app:posts' profile.slug %}';"
                        >
                            View Posts
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}