{% extends 'CityStars_app/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <div class = "registerloginform">
    {% if registered %}
        CityStars says: <strong>thank you for registering!</strong>
        <a href="{% url 'CityStars_app:city_stars' %}">Return to the homepage.</a><br />
    {% else %}
        <form id="user_form" method="post" action="{% url 'CityStars_app:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Create Account" />
        </form>
    {% endif %}
    </div>
{% endblock %}